.btn {
    border-radius: $radius-lg;
    padding: 13px 20px;
    border: none;
    position: relative;
    white-space: nowrap;
    font-size: $font-size-lg;
    line-height: $line-height-24;
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: $font-600;
    font-style: normal;

    &:hover, &:focus {
       outline: none;
    }
    &.with-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            margin-right: 5px;
        }
        &.icon-after{
            svg{
                margin-left: 5px;
            }   
        }
    }
    &.btn-primary{
        background-color: $black;
        color: $white;
        z-index: 9;
        &:hover, &:focus {
            background-color: $dark-blue;
        }
        &.w-460{
            width: 460px;
        }
        &.h-34{
            padding: 5px 20px;
        }
    }
    &.btn-skyblue{
        background-color: $light-blue-2-10;
        color: $light-blue-2;
        outline: 1px solid $light-blue-2;
        padding: 5px 10px;
        &:hover{
            color: $white;
            background-color: $light-blue-2;
            svg{
                path{
                    stroke: $white;
                }
            }
        }
        &:focus, &:active{
            outline: 1px solid $light-blue-2;
        }
        &.h-34{
            padding: 5px 10px;
        }
        &.h-x-34{
            padding: 7px;
        }
        &.h-w-34{
            height: 34px;
            width: 34px;
        }
        &.btn-sm{
            padding: 9px 13px;
        }
    }
    &.btn-grey{
        background-color: $black-10;
        color: $black;
        &:hover{
            background-color: $black;
            color: $white;
        }
    }
    &.btn-darkblue{
        background-color: $dark-blue;
        color: $white;
        &:hover{
            background-color: $black;
            color: $white;
        }
    }
    &.btn-pagination{
        border-radius: 4px;
        outline: 1px solid $border-color-2;
        color: $black-3;
        background-color: $white;
        &.h-36{
            padding: 6px 13px;
            @include media-breakpoint-down(md){
                padding: 6px 8px;
            }
        }
        &:hover,&:active{
            background-color: $black-4;
            color: $white;
            svg{
                path{
                    stroke:$white;
                }
            }
        }
    }
    &.btn-xs{
        font-size: $font-size-md;
        font-weight: $font-400;
        width: auto;
    }
    &.btn-sm{
        font-size: $font-size-16;
        font-weight: $font-600;
        padding: 10px 13px;
        width: auto;
    }
    &.btn-md{
        font-size: $font-size-lg;
        font-weight: $font-700;
        padding: 18px;
    }
    &.btn-toggle{
        width: auto;
    }
    &.btn-notification{
        width: 44px;
        border: $border-light-gray-2;
        height: 44px;
        padding: 6px;
    }
    &.btn-radius-none{
        border-radius: 0;
    }
    &.radius-right-none{
        border-radius: 10px 0 0 10px;
    }
    &.radius-left-none{
        border-radius: 0 10px 10px 0;
    }
    &.btn-radius-4{
        border-radius: 4px;
    }
    &.h-36{
        padding: 6px 15px;
    }
    &.h-38{
        padding: 7px;
    }
    &.w-200{
        width: 220px;
    }
}
