.position-card{
    border: $border-light-gray-2;
    background-color: $light-blue-4;
    border-radius: $radius-lg;
    padding: 20px;
    @include media-breakpoint-down(md){
        margin-top: 10px;
    }
    @include media-breakpoint-down(lg){
        margin-top: 10px;
    }
    .title{
        color: $black-60;
        font-size: $font-size-16;
        font-weight: $font-600;
        line-height: $line-height-22;
        text-transform: $text-uppercase;
    }
    .description{
        font-size: $font-size-md;
        line-height: $line-height-20;
        text-transform: capitalize;
    }
}

.blank-card{
    background-color: $white;
    border: $border-light-gray-2;
    padding: 10px;
    border-radius: $radius-lg;
    img{
        width: -webkit-fill-available;
    }
}

.report-strip{
    box-shadow: 0px 4px 10px 4px #0000000D;
    border: 1px solid $light-blue;
    border-radius: $radius-lg;
    padding: 12px 15px;
    .title-txt{
        font-size: $font-size-16;
        font-weight: $font-600;
        line-height: $line-height-22;
        color: $dark-blue;
    }
    .date-part{
        .date-title{
            font-size: $font-size-md;
            line-height: $line-height-20;
            color: $black-60;
        }
        .date{
            font-size: $font-size-16;
            font-weight: $font-700;
            line-height: $line-height-22;
            color: $black;
        }
    }
    &.grey-strip{
        background-color: $grey-3;
        box-shadow: 0px 4px 10px 4px #0000000D;
        border: 1px solid $black-30;
    }
}

.case-notes-card{
    box-shadow: 0px 4px 10px 4px #0000000D;
    border-radius: $radius-lg;
    background-color: $white;
    padding: 15px;
}

.grey-border-card{
    border: 1px solid $light-gray-2;
    border-radius: $radius-lg;
    background-color: $white;
}