.position-card{
    border: $border-light-gray-2;
    background-color: $light-blue-4;
    border-radius: $radius-lg;
    padding: 20px;
    .title{
        color: $black-60;
        font-size: $font-size-16;
        font-weight: $font-600;
        line-height: $line-height-22;
        text-transform: $text-uppercase;
    }
    .description{
        font-size: $font-size-md;
        line-height: $line-height-20;
        text-transform: capitalize;
    }
}

.blank-card{
    background-color: $white;
    border: $border-light-gray-2;
    padding: 10px;
    border-radius: $radius-lg;
    img{
        width: -webkit-fill-available;
    }
}