body{
    font-family: "Source Sans 3", sans-serif;
    height: 100%;
    font-size: 16px;
    color: $black;

    
}

html{
    height: 100%;
}

#wrapper{
    height: 100%;
}
a{
    text-decoration: none;
}

.blue-link{
    font-size: $font-size-16;
    font-weight: $font-500;
    line-height: $line-height-22;
    color: $secondary;
    text-decoration: none;
    svg{
        margin-right: 2px;
    }
    &:hover{
        color: $dark-blue;
        text-decoration: underline;
        svg{
            path{
                stroke: $dark-blue;
            }
        }
    }
}