body{
   
    height: 100%;
    font-size: 16px;
    color: $black;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    height: 100%;
}

#wrapper{
    height: 100%;
    @include media-breakpoint-down(md) {
        background: $light-gray-1;
    }
    
}
a{
    text-decoration: none;
}


.blue-link{
    font-size: $font-size-16;
    font-weight: $font-500;
    line-height: $line-height-22;
    color: $secondary;
    text-decoration: none;
    svg{
        margin-right: 2px;
    }

    &.disable{
        color: $black-30;
    }
    &:hover{
        color: $dark-blue;
        text-decoration: underline;
        svg{
            path{
                stroke: $dark-blue;
            }
        }
    }
}

.dropdown{
    height: 100%;
    &.dropdown-profile{
        .dropdown-toggle{
            height: 100%;
            .name-icon{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                padding: 10px;
                &.bg-grey{
                    background-color: $black-10;
                    color: $black;
                }
            }
            &::after {
                border-bottom: 0;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                content: "";
                background-image: url("../../../images/icons/chevron-down.svg");
                height: 20px;
                width: 20px;
            }
            &.show{
                &::after {
                    content: "";
                    transform: rotate(180deg);
                }
            }
        }
    }
    &.dropdown-notification{
        .dropdown-toggle{
            .red-dot{
                height: 6px;
                width: 6px;
                background-color: $red;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                right: 5px;
            }
            &::after {
                border-bottom: 0;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                content: "";
            }
        }
    }
}

.custom-tooltip{
    .tooltip-inner{
        background-color: $primary;
        opacity: 80%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: $radius-lg;
        font-size: $font-size-13;
    }
}
.bs-tooltip-auto{
    &[data-popper-placement^=top]{
        .tooltip-arrow{
            &::before{
                border-top-color: $primary;
                opacity: 80%;
            }
        }
    }
} 












