.region-card{
    height: 100px;
    width: 50%;
    border-radius: $radius-lg;
    padding: $padding15;
    box-shadow: $shadow-sm;
    .main-title{
        font-size: $font-size-lg;
        font-weight: $font-700;
        color: $primary;
    }
    .bullet{
        border-radius: 50%;
        height: 10px;
        width: 10px;
    }
    .sub-title{
        font-size: $font-size-md;
        color: $black-60;
    }
    .total{
        font-size: $font-size-22;
        font-weight: $font-700;
    }
    &.region-1{
        background: linear-gradient(45deg,$light-blue-2-10,$white-10), #fff;
        .bullet{
            background-color: $light-blue-2;
        }
        .total{
            color: $light-blue-2;
        }
    }
    &.region-2{
        background: linear-gradient(45deg,$orange-2-10,$white-10), #fff;
        .bullet{
            background-color: $orange-2;
        }
        .total{
            color: $orange-2;
        }
    }
    &.region-3{
        background: linear-gradient(45deg,$yellow-10,$white-10), #fff;
        .bullet{
            background-color: $yellow;
        }
        .total{
            color: $yellow;
        }
    }
    &.region-4{
        background: linear-gradient(45deg,$dark-red-10,$white-10), #fff;
        .bullet{
            background-color: $dark-red;
        }
        .total{
            color: $dark-red;
        }
    }
    &.region-5{
        background: linear-gradient(45deg,$blue-10,$white-10), #fff;
        .bullet{
            background-color: $blue;
        }
        .total{
            color: $blue;
        }
    }
    &.region-6{
        background: linear-gradient(45deg,$dark-blue-2-10,$white-10), #fff;
        .bullet{
            background-color: $dark-blue-2;
        }
        .total{
            color: $dark-blue-2;
        }
    }
    &.region-7{
        background: linear-gradient(45deg,$grey-10,$white-10), #fff;
        .bullet{
            background-color: $grey;
        }
        .total{
            color: $grey;
        }
    }
    &.region-8{
        background: linear-gradient(45deg,$dark-blue-3-10,$white-10), #fff;
        .bullet{
            background-color: $dark-blue-3;
        }
        .total{
            color: $dark-blue-3;
        }
    }
    &.region-9{
        background: linear-gradient(45deg,$cream-10,$white-10), #fff;
        .bullet{
            background-color: $cream;
        }
        .total{
            color: $cream;
        }
    }
    &.region-10{
        background: linear-gradient(45deg,$grey-2-10,$white-10), #fff;
        .bullet{
            background-color: $grey-2;
        }
        .total{
            color: $grey-2;
        }
    }
}
.help-card{
    background-color: $white;
    border-radius: $radius-lg;
    box-shadow: $shadow-sm;
    padding: $padding20;
    height: 100%;
    @include media-breakpoint-down(md){
        margin-top: 20px;
    }
    @include media-breakpoint-down(lg){
        margin-top: 20px;
    }
    .title{
        font-size: $font-size-xl;
        font-weight: $font-700;
    }
    .description{
        font-size: $font-size-sm;
    }
    .help-link{
        color: $dark-blue;
        font-size: $font-size-md;
        font-weight: $font-600;

        &:hover, &:focus{
            color: $black;
        }
    }
}
.faq-card{
    background-color: $white;
    border-radius: $radius-lg;
    box-shadow: $shadow-sm;
    padding: $padding20;
    .title{
        font-size: $font-size-xl;
        font-weight: $font-700;
    }
    .description{
        font-size: $font-size-md;
        color: $black-60;
    }
    a{
        &:hover{
            svg{
                g{
                    opacity: 1;
                }
            }
        }
    }
}
.status-card{
    border-radius: $radius-lg;
    padding: $padding15;
    box-shadow: $shadow-sm;
    background: linear-gradient(45deg,$light-blue-3-10,$white-15);
    @include media-breakpoint-down(xl){
        margin-bottom: 10px;
    }
    .count{
        font-size:$font-size-40;
        font-weight:$font-900;
        color: $black;
        line-height: 56px;
    }
    .status{
        font-size:$font-size-md;
        font-weight:$font-600;
        color: $dark-blue;
    }
}
.badge{
    font-size: $font-size-13;
    line-height: $line-height-18;
    border-radius: $radius-sm;
    font-weight: $font-400;
    &.badge-active{
        color: $green;
        background-color: $green-10;
    }
    &.badge-closed{
        color: $black-60;
        background-color: $black-10;
    }
    &.badge-not-started{
        color: $red;
        background-color: $red-10;
    }
    &.badge-approve{
        color: $purple;
        background-color: $purple-10;
    }
    &.badge-move-out{
        color: $light-blue;
        background-color: $light-blue-10;
    }
    &.badge-in-progress{
        color: $orange;
        background-color: $orange-10;
    }
}
.card-case-table{
    border:$border-light-gray-2;
    border-radius: $radius-lg;
    overflow: hidden;
    @include media-breakpoint-down(sm){
        overflow-x: scroll;
    }
    @include media-breakpoint-down(md){
        overflow-x: scroll;
    }
    table{
        &.case-table{
            background-color: $white; 
            margin-bottom: 0;
            thead{
                tr{
                    th{
                        background-color: $black-10;
                        color: $black;
                        font-size: $font-size-15;
                        font-weight: $font-600;
                        padding: 10px 10px;
                        @include media-breakpoint-down (xl){
                            font-size: $font-size-md;  
                            padding: 10px;  
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 7px 15px;
                        font-size: $font-size-13;
                        line-height: $line-height-18;
                        color: $black;
                        vertical-align: middle;
                        @include media-breakpoint-down (xl){
                            padding: 7px 10px;
                            font-size: $font-size-sm;    
                        }
                        &.color-red60{
                            color: $red-60;
                        }
                        a{
                            &:hover{
                                svg{
                                    path{
                                        stroke: $secondary;
                                    }
                                }
                            }
                            &.color-dark-blue{
                                &:visited{
                                    color: $dark-blue;
                                }
                            }
                            &.color-red-60{
                                &:visited{
                                    color: $red-60;
                                }
                            }
                        }
                        &.bg-red10{
                            background-color: $red-10;
                        }
                        // &.d-flex{
                        //     @include media-breakpoint-down(md){
                        //         flex-direction: column; 
                        //         img{
                        //             height: 30px;
                        //             width: 30px;
                        //         }
                        //     }
                        // }
                    }
                    &:nth-child(2n){
                        td{
                            background-color: $light-gray-1;
                        }
                    }
                    &:not(:last-child){
                        td{
                            border-bottom: $border-light-gray-2;
                        }
                    }
                }
            }
            &.td-p-10{
                tbody{
                    tr{
                        td{
                            padding: 11px 15px;
                        }
                    }
                }
            }
        }
    }
}
.notification-card{
    border-radius: $radius-lg;
    padding: 15px 20px;
    box-shadow: $shadow-sm;
    .title{
        font-size: $font-size-xl;
        font-weight: $font-700;
    }
    .date{
        font-size: $font-size-16;
        font-weight: $font-600;
        color: $black-60;
    }
    .card-inner{
        .timeline{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    position: relative;
                    &.timeline-item{
                        &:not(:last-child){
                            padding-bottom: 15px;
                            &::before{
                                position: absolute;
                                height: calc(100% - 16px);
                                width: 1px;
                                background: $light-gray-2;
                                content: "";
                                top: 16px;
                                left: 7px;
                            }
                        }
                        .timeline-status{
                            position: relative;
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            flex-shrink: 0;
                            border: 1px solid $red-10;
                            background: $white;
                            &.is-outline{
                                &:after{
                                    background: #ce0e2d;
                                    border-radius: 50%;
                                    content: "";
                                    height: 10px;
                                    left: 17%;
                                    position: absolute;
                                    top: 15%;
                                    width: 10px;
                                }
                            }
                        }
                        .timeline-date{
                            font-size:$font-size-md;
                            font-weight: $font-600;
                        }
                        .timeline-data{
                            .timeline-title{
                                color: $dark-blue;
                                font-size: $font-size-16;
                                font-weight: $font-600;
                                text-decoration: underline;
                            }
                            .timeline-des{
                                color: $black-30;
                                font-size: $font-size-md;
                            }
                        }
                    }
                }
            }
        }
    }
}

