.offcanvas{
    &.w-800{
        width: 800px;
    }
    &.w-260{
        width: 260px;
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
    &.w-450{
        width: 450px;
    }
    &.my-case-offcanvas{
        .offcanvas-header{
            justify-content: space-between;
            background-color: $light-blue-10;
            .offcanvas-title{
                text-transform: uppercase;
                font-size: $font-size-24;
                font-weight: $font-600;
                color: $black;
            }
        }
        .offcanvas-body{
            .border-bottom-lightblue{
                border-bottom: 1px solid $light-blue-10;
            }
        }
        &.staff-info{
            .title{
                font-size: $font-size-md;    
                line-height: $line-height-20;  
                color: $black-60;  
            }
            .info{
                font-size: $font-size-16;  
                font-weight: $font-700;  
                line-height: $line-height-22;  
                color: $black;
            }
        }
    }
    &.side-filter{
        background-color: $black;
        display: none;
        .offcanvas-header{
            justify-content: end;
        }
        .offcanvas-body{
            .sidebar{
                @include media-breakpoint-down(md){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                .side-menu{
                    li{
                        a{
                            @include media-breakpoint-down(md){
                                text-align: center;
                            }   
                        }
                    }
                }
            }
            .nav-title{
                display: none;
                @include media-breakpoint-down(lg){
                    display: block;
                }
            }
        }
        @include media-breakpoint-down(lg){
            display: block;
        }
    }
}