.offcanvas{
    &.w-800{
        width: 800px;
    }
    &.w-450{
        width: 450px;
    }
    &.my-case-offcanvas{
        .offcanvas-header{
            justify-content: space-between;
            background-color: $light-blue-10;
            .offcanvas-title{
                text-transform: uppercase;
                font-size: $font-size-24;
                font-weight: $font-600;
                color: $black;
            }
        }
        .offcanvas-body{
            .border-bottom-lightblue{
                border-bottom: 1px solid $light-blue-10;
            }
        }
    }
}