.offcanvas{
    &.w-800{
        width: 800px;
    }
    &.w-260{
        width: 260px;
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
    &.w-450{
        width: 450px;
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
    &.w-60p{
        width: 60%;
    }
    &.w-70p{
        width: 70%;
    }
    &.my-case-offcanvas{
        .offcanvas-header{
            justify-content: space-between;
            background-color: $light-blue-10;
            .offcanvas-title{
                text-transform: uppercase;
                font-size: $font-size-24;
                font-weight: $font-600;
                color: $black;
                &.font-xl{
                    font-size: $font-size-xl;
                    font-weight: $font-700;   
                }
            }
        }
        .offcanvas-body{
            .border-bottom-lightblue{
                border-bottom: 1px solid $light-blue-10;
            }
            .border-bottom-grey{
                border-bottom: 1px solid $light-gray-2;
            }
            .grey-strip{
                background-color: $light-gray-1;
                padding: 10px 15px;
                .border-bottom-black10{
                    border-bottom: 1px solid $black-10;
                }
            }
        }
    }
    &.side-filter{
        background-color: $black;
        display: none;
        .offcanvas-header{
            justify-content: end;
        }
        .offcanvas-body{
            .sidebar{
                @include media-breakpoint-down(md){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                .side-menu{
                    li{
                        a{
                            @include media-breakpoint-down(md){
                                text-align: center;
                            }   
                        }
                    }
                }
            }
            .nav-title{
                display: none;
                @include media-breakpoint-down(lg){
                    display: block;
                }
            }
        }
        @include media-breakpoint-down(lg){
            display: block;
        }
    }
}