.form-group {
    position: relative;

    a {
        &.eye-icon {
           position: absolute;
           right: 20px;
           top: 50%;
           margin-top: -12.5px;
        }
        &.arrow-up-icon {
            position: absolute;
            right: 50px;
            top: 50%;
            margin-top: -12.5px;
        }
    }
   
    
}


.form-control {
    border-radius: $radius-lg;
    border: $border-light-gray-2;
    font-weight: $font-400;
    font-size: $font-size-16;
    line-height: $line-height-22;
    padding: 18px;
    color: $black-60;
    margin-bottom: 0;

    &.password-form-control{
       
        
    }

    &:focus,&:hover {
        outline: none;
        box-shadow: none;
        outline: $border-light-blue;
        color: $black-60;
    }
    &.mail-icon {
        background-image: url(../../../images/icons/mail-02.svg);
        background-position-x: 20px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 60px;
    }
    &.lock-icon {
        background-image: url(../../../images/icons/lock-01.svg);
        background-position-x: 20px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 60px;
    }


    
}
