
// ======================= //
// FORM GROUP WITH ICONS //
// ======================= //
.form-group {
    position: relative;
    a {
        &.eye-icon {
           position: absolute;
           right: 20px;
           top: 50%;
           margin-top: -12.5px;
        }
        &.arrow-up-icon {
            position: absolute;
            right: 50px;
            top: 50%;
            margin-top: -12.5px;
        }
    } 
}

// FORM INPUT STYLES //
.form-control {
    border-radius: $radius-lg;
    border: $border-light-gray-2;
    font-weight: $font-400;
    font-size: $font-size-16;
    line-height: $line-height-24;
    padding: 12px 15px;
    color: $black-60;
    margin-bottom: 0;

    &.form-control-md{
        padding: 10px 15px;
    }

    &.form-control-sm{
        padding: 8px 15px;
    }

    &.number-input{
        width: 50px;
    }

    &.password-form-control{
       padding-right: 80px ;
    }

    &:focus,&:hover {
        outline: none;
        box-shadow: none;
        outline: $border-light-blue;
        color: $black-60;
    }
    &.mail-icon {
        background-image: url(../../../images/icons/mail-02.svg);
        background-position-x: 20px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 60px;
    }
    &.lock-icon {
        background-image: url(../../../images/icons/lock-01.svg);
        background-position-x: 20px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 60px;
    }
    &.search-icon {
        background-image: url(../../../images/icons/search-lg.svg);
        background-position-x: 15px;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-left: 55px;
    }
}
input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }

    &:before {
        color: transparent;
        background: none;
        display: block;
        content: '';
        background-image: url("../../../images/icons/calendar.svg");
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
    }
}
// SELECT DROPDOWN
.rows-select{
    width: 100%;
    &.w-62{
        width: 62px;
    }
    .dropdown{
        &.bootstrap-select{
            width: 100%!important;
            .btn-select{
                border: 1px solid $border-color-2;
                padding: 5px 15px;
                border-radius: 4px;
                color: $black-60;
                font-size:$font-size-md;
                font-weight: $font-400;
                background-color: $white;
                &:focus,&:hover {
                    box-shadow: none;
                    outline: $border-light-blue!important;
                    color: $black-60;
                }
                &.show{
                    &.dropdown-toggle{
                        &::after{
                            content: "";
                            transform: rotate(180deg);                       
                        }
                    }
                }
            }
            .dropdown-toggle{
                &::after{
                    border-bottom: 0;
                    border-left: 0;
                    border-right: 0;
                    border-top: 0;
                    content: "";
                    background-image: url("../../../images/icons/select-arrow-down.svg");
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
    &.grey-toggle{
        .dropdown{
            &.bootstrap-select{
                .btn-select{
                    padding: 10px 15px;
                    border-radius: $radius-lg;
                }
                .dropdown-toggle{
                    &::after{
                        content: "";
                        background-image: url("../../../images/icons/chevron-down.svg");
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

// BROWSE FILES
.browse-file {
    border: 1px solid $border-color-2;
    border-radius: $radius-lg;
    overflow: hidden;
    height: 44px;

    #filename {
        padding: 0.5em;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        background: $white;
        font-size: $font-size-md;
        font-weight: $font-400;
        color: $black-60;
        padding: 11px;
    }

    #file-upload {
        position: absolute;
        left: -9999px;
    }

    label[for="file-upload"] {
        padding: 11px;
        display: inline-block;
        background: $dark-blue;
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-700;
        text-transform: capitalize;
        border-radius: $radius-lg;
        margin-bottom: 0;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
        }
    }
}

// UPLOAD FILES
// FILE UPLOAD
.drop-zone {
    height: 190px;
    border: none;
    border-radius: $radius-lg;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-500;
    font-size: $font-size-md;
    cursor: pointer;
    background-color: $light-blue-10;
    .drop-zone__prompt{
        color: $black;
        a{
            font-size: $font-size-md;
            line-height: $line-height-22;
            font-weight: $font-600;
            color: $black;
            display: flex;
            align-items: center;
            span{
                margin-right: 5px;
            }
        }
    }
    .drop-zone__input {
        display: none;
    }
    .drop-zone__thumb {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        &::after {
            content: attr(data-label);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5px 0;
            color: $white;
            background: $black-30;
            font-size: $font-size-md;
            text-align: center;
        }
    }
}

/* Validation Error Mesg Starts */
.error-mesg{
    background: $red-10;
    color: $red;
    border-radius: $radius-lg;
    padding: $padding-error;
    font-size: $font-size-md;
    margin-top: $margin-top-5;
    font-weight: $font-400;
    text-align: left;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-sm;
    }
}


ul.error-mesg{
    background: $red-10;
    color: $red;
    border-radius: $radius-lg;
    padding: $padding-error;
    font-size: $font-size-md;
    margin-top: $margin-top-5;
    font-weight: $font-400;
    text-align: left;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-sm;
    }

    li{
        list-style: none;
        display: inline-flex;
    }
}

/* Validation Error Mesg Starts */

//CHECK BOX
.form-check {
    position: relative;
    padding-left: 30px;
    min-height: 20px;
    &.form-inline{
        display: inline-flex;
    }

    .form-check-input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border-radius: $radius-sm;
        box-shadow: none;
        border: 1px solid $dark-blue-10;
        background-color: $white;
        margin-bottom: 0px;
       
        &:checked {
            background-color: $dark-blue;
            border-color: $dark-blue;
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
        &:hover {
            cursor: pointer;
            background-color: $dark-blue;
        }
        &.add-after {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            min-height: 20px;
            & + svg {
                display: none;
                pointer-events: none;
                -webkit-pointer-events: none;
                -moz-pointer-events: none;
                & + .form-check-label {
                    margin-top: 0px;
                    font-weight: $font-400;
                    &.style-1 {
                       font-size: $font-size-md;
                       color: $black;
                    }
                    &.style-2 {
                       font-size: $font-size-13;
                       font-weight: $font-600;
                       color: $black;
                    }
                }
            }
            &:checked {
                & + svg {
                    z-index: 2;
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    color: #fff;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}
// END CHECKBOX

// MULTI SELECT
.choices{
    position: relative;
    border-radius: $radius-lg;
    overflow: visible;
    &:after{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cmask id='mask0_245_37053' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_245_37053)'%3E%3Cpath d='M12 15.375L6 9.37498L7.4 7.97498L12 12.575L16.6 7.97498L18 9.37498L12 15.375Z' fill='%23010101'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: 100%;
        border: 0;
        width: 24px;
        height: 24px;
        content: '';
        margin-top: 0px;
        background-position: center;
        // margin-right: -10px;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    &.is-opened,&.is-focused{
        &:after{
            transform:rotate(180deg);
        }
        .choices__inner{
            border-radius: $radius-lg;
        }
    }
    .choices__inner {   
        color: $primary;
        font-size: $font-size-md;
        letter-spacing: inherit;
        padding: 7px 35px 7px 15px;
        text-transform: inherit;
        width: 100%;
        height: 44px;
        border: $border-light-gray-2;
        background-color: $white;
        border-radius: $radius-lg;
        .choices__input{
            width: 80%;
            background-color: $white;
            color: $primary;
            font-size: $font-size-md;
        }
        .choices__list--multiple{
            .choices__item{
                background-color: $black-10;
                color: $black;
                line-height: 19px;
                font-size: $font-size-md;
                border: none;
                border-radius: $radius-lg;
            }
        } 
        
    }
    .choices__list--dropdown, .choices__list[aria-expanded]{
        border-radius: $radius-lg;
        border: $border-light-gray-2;
        margin-top: 0;
        .choices__item{
            font-size: 18px;
        } 
    }
    .choices__list--dropdown{
        .choices__item--selectable{
            &.is-highlighted{
                background-color: $black-10;
                color: $black;
            }
        }
    }
    .choices__list[aria-expanded]{
                .choices__item--selectable{
                    &.is-highlighted{
                        background-color: $black-10;
                        color: $black;
                    }
                }
    }
}
.choices[data-type*=select-multiple], .choices[data-type*=text]{
        .choices__button{
            border-left: 0;
            opacity: 1;
            border: 0;
            padding-left: 10px;
            margin-right: 2px;
            background-size: 16px;
            background-image: url('../../../images/icons/x.svg');
        } 
} 






