.modal{
    .modal-dialog{
        .modal-content{
            overflow: hidden;
            .modal-header{
                background-color: $light-blue-10;
                .modal-title{
                    font-size: $font-size-xl;
                    font-weight: $font-600;
                    text-transform: $text-uppercase;
                }
                .btn-close{
                    background: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 11.25L18.75 18.75M18.75 11.25L11.25 18.75M9.75 26.25H20.25C22.3502 26.25 23.4003 26.25 24.2025 25.8413C24.9081 25.4817 25.4817 24.9081 25.8413 24.2025C26.25 23.4003 26.25 22.3502 26.25 20.25V9.75C26.25 7.6498 26.25 6.5997 25.8413 5.79754C25.4817 5.09193 24.9081 4.51825 24.2025 4.15873C23.4003 3.75 22.3502 3.75 20.25 3.75H9.75C7.6498 3.75 6.5997 3.75 5.79754 4.15873C5.09193 4.51825 4.51825 5.09193 4.15873 5.79754C3.75 6.5997 3.75 7.6498 3.75 9.75V20.25C3.75 22.3502 3.75 23.4003 4.15873 24.2025C4.51825 24.9081 5.09193 25.4817 5.79754 25.8413C6.5997 26.25 7.6498 26.25 9.75 26.25Z" stroke="%23005EA2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                    opacity: 1;
                }
            }
            .modal-footer{
                padding: 0;
                >*{
                    margin: 0;
                }
            }
        }
        &.modal-add-notes{
            .modal-body{
                .grey-title{
                    font-size: $font-size-16;
                    font-weight: $font-600;
                    color: $black-60;
                    text-transform: $text-uppercase;
                }
            }
        }
        &.modal-300{
            width: 300px;
        }
        &.modal-350{
            width: 350px;
        }
        &.modal-600{
            max-width: 600px;
        }
        &.modal-1200{
            max-width: 1200px;
        }
        &.modal-750{
            max-width: 750px;
        }
    }
}