// LOGIN PAGE STRUCTURE //

.login-layout{
    display: flex;
    align-items: stretch;
    height: 100%;

    @include media-breakpoint-down(xl) {
       flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
        height: auto;
    }
    // LOGIN PAGE LEFT SIDE //
    .left-col{
        background-image: url('../../../images/background/login-bg.png');
        height: 100%;
        background-size: cover;
        width: 55%;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        position: relative;

        @include media-breakpoint-down(xl) {
            width: 100%;
            height: 45%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: 230px;
        }

        .logo-box{
            text-align: center;
            img{
                width: 80%;

                @include media-breakpoint-down(sm) {
                    width: 35%;
                }
            }
        }

        .left-bottom{
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;

            p{
                color: $white;
                font-size: $font-size-16;
                margin-bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(sm) {
                    font-size: $font-size-md;
                }

                img{
                    margin-left: 10px;
                    @include media-breakpoint-down(sm) {
                        width: 50%;
                    }
    
                }
            }
        }
    }
    // LOGIN PAGE RIGHT SIDE //
    .right-col{
        background: $light-gray-1;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        position: relative;
        width: 45%;

        @include media-breakpoint-down(xl) {
            width: 100%;
        }

        @include media-breakpoint-down(sm) {
            align-items: center;
            padding-top: 2rem;
            flex-direction: column;
        }
        .right-data-box{
            max-width: 70%;
            text-align: center;
            width: 100%;

            @include media-breakpoint-down(sm) {
                max-width: 85%;
            }

            h5{
                margin: 30px 0;
                @include media-breakpoint-down(sm) {
                    margin: 20px 0;
                }
            }
            
            .form-group{
                margin-bottom: 20px;
            }

            .forget-link{
                justify-content: flex-end;
                display: flex;
            }

        }
        .right-bottom{
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 100%;
            max-width: 70%;
            display: flex;
            justify-content: space-between;

            @include media-breakpoint-down(sm) {
                max-width: 85%;
                position: relative;
                padding-top: 2rem;
                bottom: 10px;
            }
        }
    }
}


