// Plugins
@import '../plugins/bootstrap-select/sass/bootstrap-select.scss';
@import '../plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.scss';


// Styles
@import 'helpers';  
@import 'typography';
@import 'form';
@import 'buttons';
@import 'blazor-toast';
// @import 'links';
@import 'badge';
@import 'dashboard';
// @import 'icons';
// @import 'lists';
@import 'cards';    
@import 'common';
@import 'filter';
@import 'table';
// @import 'countdown';
// @import 'navs';
// @import 'media';
// @import 'footer';
@import 'side-menu';
@import 'collapse';
@import 'modals';
@import 'navbar';
// @import 'homepage';
@import 'page-structure';
// @import 'steps';
@import 'calender';
@import 'tabbing';
@import 'loader';
// @import 'inner-leftmenu';
// @import 'chatscreen';