.case-details-card{
    box-shadow: 0px 4px 10px 4px #0000000D;
    border-radius: $radius-lg;
    overflow: hidden;
    background-color: $white;
    .case-details-table{
        width: 100%;
        tbody{
            tr{
                td{
                    padding: 10px 20px;
                    &:not(:last-child){
                        border-right: $border-light-gray-2;
                    }
                    .title{
                        color: $black-60;
                        font-size: $font-size-md;
                        line-height: $line-height-20;
                    }
                    .description{
                        color: $black;
                        font-size: $font-size-16;
                        font-weight: $font-700;
                        line-height: $line-height-22;
                    }
                    &[colspan="4"]{
                        background-color: $light-blue-10;
                        border-top: $border-light-gray-2;
                        border-bottom: $border-light-gray-2;
                        color: $dark-blue;
                        font-size: $font-size-lg;
                        line-height: $line-height-24;
                        font-weight: $font-700;
                    }
                }
            }
        }
        &.border-right-none{
            tbody{
                tr{
                    td{
                        &:not(:last-child){
                            border-right: 0;
                        }
                    }
                }    
            }
        }
        &.table-shadow{
            box-shadow: 0px 4px 10px 4px #0000000D;
            border-radius: $radius-lg;
            overflow: hidden;
            background-color: $white;
        }
        &.w-90p{
            width: 90%;
        }
    }
    .w-10p{
        width: 10%;
    }
    .case-details-heading-table{
        width: 100%;
        thead{
            tr{
                th{
                    font-size: $font-size-15;
                    font-weight: $font-600;
                    line-height: $line-height-22;
                    padding: 10px 20px;
                    text-align: center;
                    &:first-child{
                        text-align: start;
                    }
                    &:last-child{
                        text-align: end;
                    }
                }
            }
        }    
        tbody{
            tr{
                td{
                    font-size: $font-size-13;
                    line-height: $line-height-18;
                    padding: 10px 20px;
                    text-align: center;
                    &:first-child{
                        text-align: start;
                    }
                    &:last-child{
                        text-align: end;
                    }
                }
            }
        }    
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    border-radius: $radius-lg;
    overflow: hidden;
    border: 1px solid $black-10;
    .grid-item {
        background-color:$light-gray-3-1;
        padding: 10px;
        border: 1px solid $black-10;
        &.bg-blue{
            background-color: $light-blue-10;
        }
        .grid-title{
            font-size: $font-size-md;
            font-weight: $font-600;
        }
    }
    .grid-head {
        background-color: $dark-blue;
        padding: 10px;
        grid-column: 1 / 4;
        .grid-title{
            color: $white;
            font-size: $font-size-16;
            font-weight: $font-700;
        }
    }
    &.head-border{
        border-top: 1px solid $light-blue;
        grid-template-columns: 33.33% 33.33% 33.33%;
        .grid-item{
            border-bottom: 0;
            border-top: 0;
        }
        .grid-head{
            background-color: $light-blue-10;
            border: 1px solid $light-blue;
            border-top: 0;
            .grid-title{
                color: $dark-blue;
                font-size: $font-size-md;
                font-weight: $font-600;
            }
            &.head-2{
                border-top: 1px solid $light-blue;
            }
        } 
    }
}
  