h1{
    font-size: 2.5rem;
    font-weight: $font-700;
}

h5{
    font-size: $font-size-xl;
    font-weight: $font-700;

    &.normal{
        font-weight: $font-400;
        font-size: $font-size-lg;
    }
}
