h1{
    font-size: 2.5rem;
    font-weight: $font-700;
}

h5{
    font-size: $font-size-xl;
    font-weight: $font-700;

    &.normal{
        font-weight: $font-400;
        font-size: $font-size-lg;
    }
}


@media (max-width : 400px){ 
    h1{
        font-size: 1.625rem;
    }
}
@media (max-width : 820px){ 
    h1{
        font-size: 1.5rem;
    }
}
@media (min-width : 1024px){ 
    h1{
        font-size: 1.875rem;
    }
}