h1{
    font-size: $font-size-40;
    font-weight: $font-700;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-22;
    }
}

h5{
    font-size: $font-size-xl;
    font-weight: $font-700;

    &.normal{
        font-weight: $font-400;
        font-size: $font-size-lg;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-16;
        }
    }
}

h6{
    font-size: $font-size-16;
    font-weight: $font-600;
}
