.quickgrid[theme=default] {
    --col-gap: auto !important;
}


.card-case-table table.case-table {
    --col-gap: auto !important;
}

.card-case-table{
    overflow-x: auto;
}


.collapsible-navbar{
    background-color: #f9f9f9;
}