 //*************************************
// THIS FILE INCLUDES GENERAL VARIABLES
// PLEASE DON'T ADD SPECIFIC THEME VARIABLES
//*************************************

//  =======================
//  FONT FAMILY
//  =======================
// Override any bootstrap varibales
$font-family-sans-serif: "Source Sans 3", sans-serif;

//  =======================
//  GRID BREAKPOINT
//  =======================
$grid-breakpoints: (
  xs: 0,
  sm: 577px,
  md: 769px,
  lg: 993px,
  xl: 1201px,
  xxl: 1401px
);


// =====================
// DEFAULT THEME COLORS //
// =====================
$primary:            #080808;
$secondary:          #5BAAF2;
$white:              #FFFFFF;
$Light-gray-1:       #F9F9F9;
$light-gray-2:       #E1E1E1;

// DARK BLUE COLOR //
$dark-blue:          #005EA2;
$dark-blue-60:       rgba(0,94,162,0.6);
$dark-blue-30:       rgba(0,94,162,0.3);
$dark-blue-10:       rgba(0,94,162,0.1);

// BLACK COLOR //
$black:              #080808;
$black-60:           rgba(8,8,8,0.6);
$black-30:           rgba(8,8,8,0.3);
$black-10:           rgba(8,8,8,0.1);

// LIGHT BLUE COLOR //
$light-blue:         #5BAAF2;
$light-blue-60:      rgba(91,170,242,0.6);
$light-blue-30:      rgba(91,170,242,0.3);
$light-blue-10:      rgba(91,170,242,0.1);

// RED COLOR //
$red:                #CE0E2D;
$red-60:             rgba(206,14,45,0.6);
$red-30:             rgba(206,14,45,0.3);
$red-10:             rgba(206,14,45,0.1);

// ORANGE COLOR //
$orange:            #EE9207;
$orange-60:         rgba(238,146,7,0.6);
$orange-30:         rgba(238,146,7,0.3);
$orange-10:         rgba(238,146,7,0.1);

// GREEN COLOR //
$green:             #5EAC2F;
$green-60:          rgba(238,146,7,0.6);
$green-30:          rgba(238,146,7,0.3);
$green-10:          rgba(238,146,7,0.1);

// PURPLE COLOR //
$purple:            #2000A2;
$purple-60:         rgba(32,0,162,0.6);
$purple-30:         rgba(32,0,162,0.3);
$purple-10:         rgba(32,0,162,0.1);



// =====================
// DEFAULT FORMS COLORS //
// =====================

$input-bg:                  #ffffff;
$border-color:              #F9F9F9;
$border-focus:              #5BAAF2;

$primary-button:           #080808;
$primary-button-hover:     #005EA2;


// =====================
// BORDER RADUIS //
// =====================
$radius-xs:       2px;
$radius-sm:       5px; 
$radius-md:       8px;
$radius-lg:      10px;
$radius-xl:      15px;
$radius-xxl:     20px;
$radius-half:     50%;
$radius-full:    100%;

// =====================
// PADDING //
// =====================
$padding5:              05px;
$padding10:             10px;
$padding15:             15px;
$padding20:             20px;
$padding25:             25px;
$padding30:             30px;

// PADDING LEFT AND RIGHT //
$padding-x-5:           0px 5px;
$padding-x-10:          0px 10px;
$padding-x-15:          0px 15px;
$padding-x-20:          0px 20px;
$padding-x-25:          0px 25px;
$padding-x-30:          0px 30px;

// PADDING TOP AND BOTTOM //
$padding-y-5:             5px 0px;
$padding-y-10:           10px 0px;
$padding-y-15:           15px 0px;
$padding-y-20:           20px 0px;
$padding-y-25:           25px 0px;
$padding-y-30:           30px 0px;