.collapsible-navbar{
    .main-navbar{
        height:76px;
        padding: 0;
        border-bottom: $border-light-gray-2;
        position: fixed;
        width: 100%;
        background-color: $white;
        z-index: 10;
        display: block;
        top: 0px;

        // &.desk-nav{
        //     &.d-flex{
        //         @include media-breakpoint-down(lg){
        //             display: none!important;
        //         }
        //     }
        // }
        .rotate{
            transform: rotate(180deg);
            transform-origin: 84% 50%;
        }
        // .btn-filter{
        //     display: none;
        //     @include media-breakpoint-down(lg){
        //         display: block;
        //     }
        // }
        // #menu-btn{
        //     display: block;
        //     @include media-breakpoint-down(lg){
        //         display: none;
        //     }
        // }
        .navbar-logo{
            border-left: $border-light-gray-2;
            border-right: $border-light-gray-2;
            height: 100%;
        }
        .right-part{
            .btn-notification{
                position: relative;
                .red-dot{
                    height: 6px;
                    width: 6px;
                    background-color: $red;
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            .dropdown{
                &.dropdown-profile{
                    border-left: $border-light-gray-2;
                }
            }
        }
        .color-dark-blue{
            display: block;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
        // &.mobile-nav{
        //     &.d-flex{
        //         display: none!important;
        //         @include media-breakpoint-down(md){
        //             display: block!important;
        //         }
        //         @include media-breakpoint-down(lg){
        //             display: flex!important;
        //         }
        //     }
        //     .w-185{
        //         width: 130px;
        //         img{
        //             width: 100px;
        //         }
        //     }
        //     .btn-toggle{
        //         padding: 13px 15px;
        //         svg{
        //             height: 30px;
        //             width: 30px;
        //         }
        //     }
        // }
    }
    // #sidebar{
    //     @include media-breakpoint-down(lg){
    //         display: none;
    //     }
    //     @include media-breakpoint-down(md){
    //         display: none;
    //     }
    // }
}
